mlx-qwen3-asr==0.3.5
mlx-lm==0.31.3
mlx==0.32.0
rumps==0.4.0
pyobjc-framework-Quartz>=10.0
sounddevice==0.5.5
numpy
pyobjc-framework-ApplicationServices>=10.0
pillow
pyobjc-framework-AVFoundation>=10.0
